doctype
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Tester
    body
        pre #{message}
        if prcnt >= 80
            script alert('Puedes hacer pull')
            form(action="pull" method="get")
                input(type="submit", value="PULL!!")
        else
            script alert('No pasaste')